#app.hello .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#app.hello * {
    font-family: Helvetica;
}

#app.hello h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
}

#app.hello p {
    font-size: 3em;
}
