<?php

use OwlyCode\ReactBoard\Asset\ExternalAsset;
use OwlyCode\ReactBoard\Builtin\CoreApplication\CoreApplication;
use OwlyCode\ReactBoard\Builtin\HelloApplication\HelloApplication;
use OwlyCode\ReactBoard\Builtin\PromptApplication\PromptApplication;
use OwlyCode\ReactBoard\Builtin\TwitterApplication\TwitterApplication;
use OwlyCode\ReactBoard\Builtin\VlcApplication\VlcApplication;

require __DIR__ . '/../vendor/autoload.php';

$kernel = new OwlyCode\ReactBoard\Kernel();

$kernel->configureContainer(function ($container) {
    $container->setParameter('twitter.consumer_key', 'foo');
    $container->setParameter('twitter.consumer_secret', 'bar');
    $container->setParameter('twitter.access_token', 'baz');
    $container->setParameter('twitter.access_token_secret', 'foobar');
});

$kernel->register(new CoreApplication('twitter'));
$kernel->register(new HelloApplication());
$kernel->register(new VlcApplication());
$kernel->register(new PromptApplication());
$kernel->register(new TwitterApplication('#symfony'));

$kernel->link(new ExternalAsset(__DIR__ . '/Resources', 'css/blue.css'));

$kernel->run();
